<div class="add">
    <div class="add__inner">
        <h2 class="add__title">Stand with Ukraine - 50% sales</h2>
        <button class="add__offer">See offers</button>
    </div>
</div>
</body>
</html>