<body>
    <header class="header">
        <div class="header__inner">
            <a class="logo__link" href="/">
                <img class="logo__img" src="images/EnglRush.svg" alt="">
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <a class="menu__link" href="Reading">
                        <li class="menu__item">Reading</li>
                    </a>
                    <a class="menu__link" href="Grammar">
                        <li class="menu__item">Grammar</li>
                    </a>
                    <a class="menu__link" href="Writing">
                        <li class="menu__item">Writing</li>
                    </a>
                    <a class="menu__link" href="Listening">
                        <li class="menu__item">Listening</li>
                    </a>
                    <a class="menu__link" href="Vocabulary">
                        <li class="menu__item">Vocabulary</li>
                    </a>
                    <a class="menu__link" href="Use of English">
                        <li class="menu__item">Use of English</li>
                    </a>
                </ul>
            </nav>
            <div class="login">
                <a class="login__btn" href="admin-panel">Login</a>
            </div>
        </div>
    </header>